body {
  background-color: #4094E3;
  color: white;
}

#logo {
  height: 35px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;

}

form {
  background-color: white;
  margin: 0 auto;
  width: 400px;
  padding: 40px;
  border-radius: 3px;
  box-sizing: border-box;
}

h1 {
  color: gray;
  margin-bottom: 20px;
}

label {
  
  color: black;
  margin-bottom: 10px;
}

input {
  width: 290px;
  border-radius: 2px;
  color: gray;
  font-size: 18px;
  border: 1px solid #e7e7e7;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  padding: 15px;
  display: block;
}

button[type="submit"] {
  width: 100%;
  height: 56px;
  padding: 15px;
  border-radius: 2px;
  border: none;
  background-color: green;
  color: white;
  font-size: 18px;
  margin: 10px auto;
}

.forgot, .forgot > a {
  color: gray;
}

a {
  color: white;
}

.center {
  width: 100%;
  text-align: center;
}
