

.bluetext {
  color: blue;
}

#bold {
  font-weight: bold;
}

ol > li > ol > li {
  font-weight: bold;
}

ol > li > ol > li:nth-child(even) {
  color: green;
}


a:link {
  color: green;
}

a:hover {
  font-size: 40px;
}

a:visited {
  color: red;
}
