main {
  padding: 30px;
}

main * {
  box-sizing: border-box;
}

.box {
  border: 3px solid green;
  margin-bottom: 30px;
}

.width-200 {
  width: 200px;
}

.height-100 {
  height: 100px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.green.box {
  border: 1px solid red;
}