main {
  padding: 30px;
}

blockquote {
  max-width: 300px;
}

blockquote + .author {
  margin-bottom: 60px;
}

.author {
  color: grey;
}

blockquote::before {
  content: "“";
}

blockquote::after {
  content: "”";
}

.author::before {
  content: "–";
}