/*Styles go here*/
html {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 80px;
    font-family: "Roboto", sans-serif;
}

nav {
  background-color: #eeeeee;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px;
  height: 35px;
  border-bottom: 1px solid #dddddd;
}

.site-name {
  position: absolute;
  display: inline-block;
  left: 20px;
  top: 10px;
}

.navlinks {
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 18px;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
}
.navlinks a {
  color: purple;
  text-decoration: none;
  font-size: 1.2em;
}

nav ul li {
  display: inline;
  padding: 0 6px;
}

nav h1 {
  font-size: 2em;
  display: inline;
}

nav h1 a {
  color: black;
  text-decoration: none;
}

search input {
  height: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  width: 400px;
  padding: 0px;
  padding-left: 5px;
}

search button {
  height: 35px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  padding: 0px;
}

search label {
  display: block;
  margin-bottom: 8px;
}

search a {
  background-color: white;
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  padding: 0px;
  text-align: center;
}

search a img {
  position: relative;
  top: 4px;
}

main {
  padding: 25px;
  padding-left: 10px;
}

.listings {
  list-style-type: none;
}

.listing {
  margin-bottom: 15px;
}

.listing-title, .listing-location  {
  margin-left: 10px;
  text-decoration: none;
} 

pages {
  display: inline-block;
  height: 40px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}

pages a {
  display: inline-block;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

pages span {
  display: inline-block;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  padding: 10px;
}
